@font-face {
    font-family: 'Silkscreen';
    src: url('./Silkscreen-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Silkscreen';
    font-weight: bolder;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.bg-black {
    background-color: rgba(0, 0, 0);
}
