* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-black {
    background-color: rgba(0, 0, 0);
}
