@font-face {
    font-family: 'Silkscreen';
    src: url('./Silkscreen-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Silkscreen';
    font-weight: bolder;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.color-selector {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}